-if @current_user.nil?
  .row
    .large-3.columns#login_form
      = form_tag login_path, :remote => true do
        =label_tag :username
        =text_field_tag :username
        =submit_tag :login
-else
  #index_logged_in
    = render :partial => "home/logged_in"

.row
  .large-12.columns#game_area




